<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	
<nav th:replace = "layouts :: navbar"></nav>
	
 <div class="container">
	<h4>Current Projects</h4>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Project Name</th>
				<th>Project Stage</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="aProject : ${projects}">
				<td th:text="${aProject.name}"></td>
				<td th:text="${aProject.stage}"></td>
			</tr>
		</tbody>
	</table>
 </div>	
  <div class="container">
	<h4>Current Employees</h4>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Employee Name</th>
				<th>Employee Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="aEmployee : ${employees}">
				<td th:text="${aEmployee.firstName } + ${aEmployee.lastName}"></td>
				<td th:text="${aEmployee.email}"></td>
			</tr>
		</tbody>
	</table>
 </div>
</body>

</html>