<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	
<nav th:replace = "layouts :: navbar"></nav>

	 <div class="container">
	<h4>Employees Directory</h4>
	<hr>
	<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New Employee</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Employee Name</th>
				<th>Employee Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="aEmployee : ${employees}">
				<td th:text="${aEmployee.firstName } + ${aEmployee.lastName}"></td>
				<td th:text="${aEmployee.email}"></td>
			</tr>
		</tbody>
	</table>
 </div>
</body>

</html>